html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
	background-position:cover;
  background-color: seagreen;
  font-family: 'Dosis', sans-serif;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)),
			url("img/walk.jpg")   ;
			background-size:540%;
			padding-top:0;



}
.header{
  background-color:#64DE93;
  font-size: 1.5em;
	font-family: untitled-font-1;
  font-family: 'Roboto Slab', serif;
	height:2em;
	width:100%;
	padding-top:1em;

}


.appName{
<<<<<<< HEAD
  color: black;
  text-shadow: 1px 2px grey;
  padding-left:2em;
	font-size:1.2em;

}

.addAppointment{

  font-size: 1em;
  background-color:#BDE9FC;

}

.addAppointment:hover{
	background-color:#6BCAF7;
  padding: 0 1em;
  font-size: 1.5em;

}

.appointmentBox{
  margin-top: 2em;
  border-radius: .5em;
	padding-right:1.2em;
}

li{
  background: white;
  margin-left: 1em;
  border: 2px solid #85CAAB;
  border-radius: .5em;
}

.appointmentTime{
  margin: 1em;
  top: 5px;
  left:2px;
  display: inline-block;
}


.appointmentName{
  margin: 1em;
  display: inline-block;
  }

.appointmentLocation{
  margin: 1em;
  position: relative;
  left: 90px;

}

.icon-diff-added{
	font-size:35px;
	float:right;
	padding-left:20px;
}
.icon-diff-added:hover{
	background-color:#6BCAF7;
	border: 3px solid black;
	cursor:pointer;
}
